.wrapper{
	padding: 0 18px;
	max-width: 1236px;
	margin: 0 auto;
	overflow: hidden;
	&--medium{
		max-width: 976px;
	}
	.wrapper{
		padding: 0;
	}
	&--b-margin{
		margin-bottom: 1rem;
		@mixin atSmall{
			margin-bottom: 3.875rem
		}
	}
}